
@import "bootstrap/functions";
@import "bootstrap/variables";
//
// Grid mixins
//

@import "bootstrap/mixins/breakpoints";


// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/flexbox";
@import "theme/reset";


// Custom Scss 
@import "theme/elements";
@import "theme/header";
@import "theme/home";
@import "theme/footer";
@import "theme/_variables.scss";


.about-image {
	max-height: 500px;
	padding:  0;
	width: 85%;
}

.counter {
	font-weight: 300 !important;
}

.opbgc {
	background: $opbgc;
}

body {
	overflow-x: hidden;
}

input, 
textarea {
	font-size: 16px;
	background-color:rgba($white, .2) !important;
}

.fw300 {
	font-weight: 300 !important;
}

.feature-area .icon {
	min-height: 150px;
}


.hauto {
	height: 100vh !important;
}

.white {
	background-color: $white;
}


.feature-area {
	.icon {
		padding: 0;
	 	img {
			display: block;
			width: 100%;
			height: 100%;
		}

	}

	&__title {
		color: white;
		text-align: center;
		font-size: 40px;
		z-index: 1;
		position: relative;
		padding-bottom: 30px;
	}
	
	&__desc {
		padding-bottom: 45px;
	}

	.single-feature {
		position: relative;
	}

	.price {
		text-align: center;
		font-size: 15px;
		color: black;
		display: block;
		margin-top: 30px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		color: $white;
	}
}

.red {
	background-color: red;
}

.dib {
	display: inline-block;
}

.curp {
	cursor: pointer;
}

.main-menubar {
	user-select: none;
}

.mcenter {
	margin-left: auto;
	margin-right: auto;

}

.about-area {
	p {
		margin: 0;
		display: block;
	}
}

.mt-30 {
	margin-top: 30px;
}

.dot {
	content: '';
	width: 7px;
	height: 7px;
	margin-bottom: 1px;
	margin-right: 2px;
	display: inline-block;
	border-radius: 50%;
	background-color: $primary;
}

.single-facts__icon {
	display: inline-block;
	img {
		display: inline-block;
		height: 90px;	
	}
}

.reviews {
	padding: 70px 0;
	background-color: $white;
	
	&__inner {
		padding: 0 30px;
	}

	&__item {
		display: block;
		text-align: center;
		
		height: $review-height;
		
		position: relative;
	}
	
	&__content {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		padding: 0 30px;
		p {
			font-style: italic;
		}
	}

	&__stat {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	p {
		margin: 0;
		margin-bottom: 5px;
	}
	
	&__name {
		text-align: left;
		display: flex;
		align-items: center;
		
		color: $primary;
		font-size: 17px;
		margin-top: 5px;
		margin-bottom: 50px;
		margin-left: 13px;
		position: relative;
		font-weight: 500;
		&:after {
			position: absolute;
			width: 7px;
			height: 1px;
			display: block;
			content: '';
			top: 60%;
			left: -10px;
			background-color: $primary;
			transform: translateY(-50%);
		}
	}
	
	&__icon {

		width: 20px;
		height: 20px;
		display: block;	
		content: '';
		margin-left: 8px;
		
	}
	
	a:hover {
		color: $primary;
	}
}

.contact-area {
	.select {
		display: block;
		
	}

	option {
		width: 100%;
		display: block;
	}
	
	&__message {
		color: white;	
		background-color:rgba($white, .2) !important;
		z-index: 100;	
		padding: 50px 100px;		
		border: 1px solid $border-color;
		border-radius: 2px;
		font-size: 30px;
	}
	
	.preload {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -80%);
	}
}

.contact {
	&__title {
		line-height: 1em !important;
		margin-bottom: 10px;
	}
}

/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	font-family: Arial;
	width: 100%;
	font-size: 16px;
	height: 48px;
	background-color: transparent;
	border: 1px solid $border-color;
	border-radius: 1px !important;	
}

.custom-select select {
	display: none !important; /*hide original SELECT element:*/
}

.select-selected {
	background-color:rgba($white, .2) !important;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.nice-select {
	display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: calc(50% + 1px);
	transform: translateY(-25%);
	right: 8px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 15px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	color: #ffffff;
	padding: 13px 20px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

.genric-btn {
	user-select: none;
}


/*style items (options):*/
.select-items {
	position: absolute;
	background-color: rgba($border-color, 1) !important;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select-items div {
	background-color: rgba(black, .1);
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.2);
}

.slick-dots {
	left: 50% !important;
	transform: translate(-50%,0)  !important;
}

.slick-arrow {
	height: 30px !important;
	width: 30px !important;
	margin: 0 10px 0 10px;
}

.slick-prev:before, 
.slick-next:before {
	content: ""  !important;
  	font-size: 0 !important;
  	color: $text-color !important;
  	width: 20px !important;
  	height: 20px !important;
  	display: block !important;
  	position: absolute;
  	top: 50%;
  	margin: 0;
  	padding: 0;
  	
}

.slick-prev:before {
	border-left: 1px solid $text-color;
	border-top: 1px solid $text-color;
	transform: translate(-50%, -50%) rotate(-45deg);
	left: 130%;
}

.slick-next:before {
	border-right: 1px solid $text-color;
	border-top: 1px solid $text-color;
	transform: translate(-50%, -50%) rotate(45deg);	
	left: -30%;
}

.rel {
	position: relative;
}

.halfheight {
	height: 50vh;
}

.dib {
	display: inline-block;
}


.blog-post {
	background-color: $white;
	padding: 80px 0;
}


.blog {
	background-color: $white;
	padding: 80px 0;
	.about-title {
		
	}
	
	.readmore {
		display: inline-block;
		color: $primary;
		font-size: 17px;
		position: relative;

		&:after {
			position: relative;
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			background-color: $primary;
			bottom: 0;
			left: 0;
		}
	}

	&__item {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.main-menubar {
	a {
		color: $black !important;
	}
}

.about-area {
	.genric-btn {
		color: $primary !important;
	}

	.genric-btn:hover {
		color: $white !important;	
	}
}

.banner {
	height: 100vh;
	h1 {
		font-weight: 100;
		margin-bottom: 20px;
	}

	.sp-1,
	.sp-2 {
		font-weight: 600;
	}
	
	.sp-2 {
		color: $primary;
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 0;
		height: 100%;
	}

	&__image {
		height: 70%;
		width: 100%;
		display: block;
		background: url(../img/sharifa.png) no-repeat center center / cover;
	}
}

.none {
	display: none;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

#name {
	position: relative;
}

#phone {
	position: relative;
}

.common-input {
	z-index: 1;
}

.shake {
	animation: shake .15s ;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.error {
	position: absolute;
	top: calc(100% - 5px);
	left: 35px;
	background-color: white;
	color: black;	
	border: 1px solid #cc4444;
	pointer-events:none;
	touch-action: none;
	user-select: auto;
	padding: 7px 15px;
	font-size: 15px;
	z-index: 10;
	
	&__relative {
		background-color: red;
		width: 100%;
		height: 100%;
		z-index: 13;
	}

	&__arrow {
		content: '';
		position: absolute;
		height: 12px;
		width: 12px;
		background-color: #fff;
		border-top: 1px solid #cc4444;
		border-right: 1px solid #cc4444;
		top: 0;
		left: 10px;
		transform: translate(50%, calc(-50% - 2px)) rotate(-45deg); 
		z-index: 12;
	}
}

$test: false;
//$test: true;

$dotscolor: white !important;
$lds-ellipsis_bg: transparent;

@if $test {
	$dotscolor: white;
	$lds-ellipsis_bg: red;	
}

.lds-ellipsis {
  display: inline-block;
  position: relative;

  width: 100px;
  height: 80px;
  background-color: $lds-ellipsis_bg;
  z-index: 2;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 12px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: $dotscolor;
	background-color: black;
}

.lds-ellipsis div:nth-child(2) {
  left: 12px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: $dotscolor;
	background-color: blue;
}

.lds-ellipsis div:nth-child(3) {
  left: 44px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: $dotscolor;
  background-color: yellow;
}

.lds-ellipsis div:nth-child(4) {
  left: 76px;
  animation: lds-ellipsis3 0.6s infinite;
  background-color: $dotscolor;
	background-color: purple;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
  	}
  	100% {
		transform: scale(1);
  	}	
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(32px, 0);
  }
}


@media screen and (max-width: 768px){
	.section-gap {
		padding: 30px 0;
	}

	.mt-md {
		margin-top: 60px;
	}

	.main-menubar {
		a {
			color: $white !important;
		}
	}
	
	.banner { 
		height: auto;
		&__inner {
			display: block;
		}
	
		&__image { 
			width: 300px;
			height: 300px;
			margin-top: 50px;
		}

		&__content {
			padding-top: 30px;
			padding-bottom: 50px;
		}
	}
}

	

@media screen and (max-width: 992px) {
	.banner { 
		height: auto;
		&__inner {
			display: block;
		}
	
		&__image { 
			width: 400px;
			height: 400px;
			margin-top: 70px;
		}

		&__content {
			padding-top: 50px;
			padding-bottom: 70px;
		}
	}

	.banner-left {
		margin-top: -10px;	
	}

	.banner-right {	
		margin-top: -45px;
	}

	.hauto {
		height: auto !important;
	}
}

.hide-op {
	opacity: 0;
	pointer-events: none;
}

.contact-area {
	h3 {
		color: #ff2202;
		display: none;
	}
}